.account {
    background-image:url('https://shop.gopro.com/on/demandware.static/-/Library-Sites-sharedGoProLibrary/default/dweb59d954/images/camera-landing-page/Hero6_launch/GoPro_CLP_GoProApp_Desktop.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.account-info {
    background-color:ghostwhite;
    border-radius:30px;
    width:500px;
    height:300px;
    margin-bottom:30vh;
}