.checkout-background {
    background-image: url('https://thumbnails-04.gp-static.com/v1/thumbnails/unsafe/776x443/channels-uploads/production/images/master/4208/857fb-36377030.jpg');
    background-size: cover;
    height:100vh;
    width:100%
}

.checkout {
    padding-top:75px;
    margin:0 15%;
    padding:5%;
    background-color:white;
    border-radius:50px;

p {
    width:180px;
    text-align:left;
}



.checkout-product {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px dashed #666;
    
    button {
        border:none;
        cursor: pointer;
        width:180px;
    }
}

.checkout-product-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid #666;
    text-transform:uppercase;

}

.total {
    display:flex;
    justify-content:space-around;
    margin-top:50px;
    align-items:center;



    .stripe {
        height:30px;
       

    }

}

a {
    color:#009fdf;
}
}
