
.products {
    margin-top:75px;
   
}
.product-info {
    background-size: cover;
    height:95vh;
    width:100%;
    background-position: center;
    font-family: sans-serif;
    display:flex;
    align-items:baseline;
    justify-content: center;
    padding-top:6%;


    .content {
        width:50%;
    }

h1 {
    color: #fff;
    font-family: 'ProximaNova', Arial, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 23px;
    margin:5px;
}

h2 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin: 5px;
}

h3 {
    font-family: 'ProximaNova', Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 5px;
    color:#fff;
}

button {
    background: #00b8fd;
    color:white;
    display: inline-block;
    vertical-align: middle;
    margin: 8px;
    height: 50px;
    width: 180px;
    padding: 10px 30px;
    font-family: 'ProximaNova', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .075em;
    text-transform: uppercase;
    cursor:pointer;
}
    .learn-more {
        color: #00b8fd;
    border: 2px solid #00b8fd;
    background-color: transparent;
    }
    
}


.product-list:nth-child(2) .product-info {
    justify-content: flex-start;
    align-items: center;
    margin-top:0%;
    h1 {
        letter-spacing: 0;
    }
  
}

.product-list:nth-child(3) .product-info {
    justify-content: flex-end;
    align-items:center;
    margin-top:0%;
    
    h1  {
        color:black;
        letter-spacing: 0;
    }
    h2  {
        color:black;
    }
    h3  {
        color:black;
    }

}

.product-list:nth-child(4) .product-info {
    justify-content: flex-end;
    align-items:center;
    margin-top:0%;

    h1  {
        letter-spacing: 0;
    }
}


